/target/**
.?*
*.properties
*.bak

/target/
/path_accumulator_ps.tmp

### Gitlab
!.gitlab-ci.yml

### GitHub
!/.github/**

### Git
!.gitattributes
!.gitignore

### Gradle
!build.gradle
!gradle.properties
!/gradle/**
/.gradle/
/bin/
/build/
/oJF/
/oJW/

### Eclipse ###
.settings/
.classpath
.project
.pmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr