# Run various code quality checks when pushing to main or when opening pull requests.
# - This will run the tests, as well as
# - Perform an analysis via SonarCloud
# - Examine whether any of the dependencies contain known vulnerabilities

name: Code quality checks

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  analyze_dependencies_owasp:
    name: Check dependencies with OWASP
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: 25
          distribution: 'temurin'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Analyze dependencies
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          OSS_INDEX_PASSWORD: ${{ secrets.OSS_INDEX_PASSWORD }}
          OSS_INDEX_USERNAME: ${{ secrets.OSS_INDEX_USERNAME }}
          NVD_TOKEN: ${{ secrets.NVD_TOKEN }}
        run: ./gradlew dependencyCheckAnalyze --no-daemon
